<!-- begin form -->
<div class="form">
	<div class="form__inner inner">
		<div class="form__title-out">
			<h3 class="title-big">GET IN TOUCH WITH US</h3>
		</div>
		<div class="form__wrap">
			<form action="/">
				<div class="field">
					<input type="text" class="input" placeholder="name">
				</div>
				<div class="field">
					<input type="text" class="input" placeholder="company">
				</div>
				<div class="field">
					<textarea class="textarea">message</textarea>
				</div>
				<div class="form__footer">
					<button class="btn-rad btn-rad_red" type="submit">submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- end form -->