<!-- begin boxes -->
<div class="boxes" style="background-image: url(img/boxes.jpg);">
	<div class="inner boxes__inner">
		<div class="row">
			{% for item in [
				{ title: 'PROMOTIONS' },
				{ title: 'FIND A DEALER' }
			] %}
				<div class="col col-50 col_sm-100">
					<div class="box">
						<h3 class="box__title">{{item.title}}</h3>
						<div class="box__content">Success isn't just about what you accomplish in your life; it's about what you inspire others to do.</div>
						<a href="#" class="sm-btn">Learn more</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- end boxes -->