<!-- begin products -->
<div class="products">
	<div class="products__wrap">
		{% for i in [1,2,3,4,5,6,7,8,9,10,11,12] -%}
			<div class="products__item">
				<div class="products__in">
					<div class="products__img-out">
						<div class="products__img">
							<img src="./img/b6-camo-sag.png" alt="b6-camo-sag">
						</div>
					</div>
					<div class="products__name">P320 AIR PISTOL</div>
					<div class="products__description">The ASP P320 is not just an airgun, it's a SIG.</div>
					<div class="products__btns">
						<a href="#" class="sm-btn sm-btn_sm sm-btn_black">
							VIEW PRODUCT
							{{ mixins.icon('next') }}
						</a>
					</div>
				</div>
			</div>
		{%- endfor %}
	</div>
	<div class="products__footer">
		<div class="products__inner">
			<a href="#" class="btn-rad">More Pistols</a>
		</div>
	</div>
</div>
<!-- end products -->