.sm-btn 
	display: inline-block
	vertical-align: top
	padding: 18px 20px 20px
	border: 1px solid $white
	width: 100%
	max-width: 224px
	color: $white
	background: none
	font-family: $roboto_condensed
	+f(18px, null, 15px)
	letter-spacing: 0.72px
	transition: color 0.25s, background 0.25s
	+hover 
		color: $black
		background: $white
		.icon-next
			transform: translateX(8px)
	.icon-next
		position: relative
		margin: 1px 0 0 13px
		vertical-align: top
		font-size: 14px
		color: #D0021B 
		transition: transform .3s ease-in-out
	&_sm
		padding: 12px 20px 14px
		max-width: 213px
		font-size: 14px
	&_black
		color: #272E3B 
		border-color: #272E3B 